.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/showcase.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
  
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
      filter: invert(97%) sepia(61%) saturate(7100%) hue-rotate(181deg)
        brightness(128%) contrast(98%);
    }
  
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
  

  